<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                Dados Disciplina
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#/">Listar</a>
                </li>
                <li class="active">Dados Disciplina</li>
            </ol>
        </div>
    </div>
    <div class="container panel">
        <h3 class="text-center panel">{{disciplina.nome}}</h3>
        <div class="highlight col-md-6 col-md-offset-3">
            <h3>Sigla: <span class="dados">{{disciplina.sigla}}</span></h3>
            <h3>Ementa: <span class="dados">{{disciplina.ementa}}</span></h3>
            <h3>Professores: </h3>
            <ul ng-repeat="professor in professores">
                <li>{{professor.nome}}</li>
            </ul>
            <h3>Alunos: </h3>
            <ul ng-repeat="aluno in alunos">
                <li><span> <a href="/#dadosAluno/{{turma.id}}/{{aluno.id_aluno}}"> {{aluno.nome}}</a> </span></li>
            </ul>
        </div>
    </div>
    <br />
</div>
