<div class="container">    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Semestre</th>
                <th>Qtd Alunos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="turma in turmas | filter: filtro">
                <td>
                    <span><a href="descricaoTurmas/{{turma.id}}">{{turma.nome}}</a></span>
                </td>
                <td>
                    <span>{{turma.descricao}}</span>
                </td>
                <td>
                    <span>{{turma.semestre.data_semestre | date: 'dd/MM/yyyy'}}</span>
                </td>
                <td>
                    <span>{{turma.aluno_turma.aluno.length}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>